table > tbody > tr > td,
table > thead > tr > th,
table > tfoot > tr > th {
  vertical-align: middle!important;
  text-align: center!important;
}

table.table td,
table.table th {
  padding: 8px;
}

footer a{
  text-decoration: none;
}